body {
  margin: 0;
  padding: 0;
}

.section {
  display: none;
}

body[data-section="-1"] > #startup {
  display: block;
}

body[data-section="-1"] > #constant {
  display: none;
}

body[data-section="0"] > #auton, body[data-section="0"] > #proceed {
  display: block;
}

body[data-section="1"] > #teleop {
  display: block;
}

body[data-section="2"] > #climb {
  display: block;
}

body[data-section="3"] > #auton_deposit {
  display: block;
}

body[data-section="4"] > #teleop_deposit {
  display: block;
}

body[data-section="5"] > #final {
  display: block;
}

body[data-section="6"] > #teleop_fail {
  display: block;
}

#submit_data, #show_data {
  display: none;
}

#redo {
  display: none;
}

.harmony, .climb {
  display: none;
}

#start {
  position: absolute;
  width: 250px;
  height: 60px;
  bottom: 80px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: auto;
  border-radius: 0;
  border: 0;
  background-color: #cf3f3f;
  font-size: 2rem;
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
